.wrapper {
    .header {}

    .header_detail {
        border-bottom: 1px solid rgb(219, 222, 224);

        .time_asked,
        .time_modified,
        .time_view {
            font-size: 13px;
            color: rgb(143, 146, 152);
        }
    }

    .subHeader {
        font-size: 17px;
        color: rgb(143, 146, 152);
    }
}