.wrapper {
    height: 80px;
    background-color: #fdf3b8;
    position: sticky;
    top: 0;

    .logo {
        height: 35px;
        cursor: pointer;
    }

    .icon {
        cursor: pointer;
        font-size: 25px;
    }
}