.title_input::-webkit-input-placeholder {
    color: hsl(210, 8%, 75%);
    font-size: 13px;
}

.description {
    min-height: 300px;
    transition: all ease-in-out 200ms;
}

.focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25)
}

.disable {
    transition: all ease 200ms;
    opacity: 0.3;
    pointer-events: none;
}