.content {
    width: 100%;

    .content_filter {
        border-bottom: 1px solid rgb(219, 222, 224);

        .questions_number {
            font-size: 19px;
        }
    }

    .content_lists {
        .content_list {
            border-bottom: 1px solid rgb(219, 222, 224);
        }

        .content_list_info {
            border-right: 1px solid rgb(219, 222, 224);
        }

        .rate,
        .answere,
        .vertified {
            white-space: nowrap;
            margin-top: 3px;
            font-size: 15px;
        }

        .header {
            cursor: pointer;
            color: rgb(70, 129, 171);
            font-size: 17px;

            &:hover {
                color: rgb(86, 157, 206);
            }
        }

        .sumary {
            font-size: 14px;
            font-weight: lighter;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }


    }

    .content_footer {
        .account {
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #fff;
            }

            .account_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .account_name {
                cursor: pointer;
                font-size: 13px;
                color: rgb(70, 129, 171);

                &:hover {
                    color: rgb(86, 157, 206);
                }
            }
        }

        .time {
            font-size: 13px;
        }
    }
}