.content {
    width: 100%;

    .filter_tags {
        overflow: hidden;
        transition: all ease 200ms;
    }

    .filter_tags_show {
        height: 150px;
    }

    .filter_tags_hide {
        height: 0px;
    }

    .content_filter {
        border-bottom: 1px solid rgb(219, 222, 224);

        .questions_number {
            font-size: 19px;
        }
    }

    .content_lists {
        .content_list {
            min-height: 120px;
            border-bottom: 1px solid rgb(219, 222, 224);
        }

        .content_list_info {
            border-right: 1px solid rgb(219, 222, 224);
        }

        .rate,
        .answere,
        .vertified {
            white-space: nowrap;
            margin-top: 3px;
            font-size: 15px;
        }

        .header {
            cursor: pointer;
            color: rgb(70, 129, 171);
            font-size: 17px;

            &:hover {
                color: rgb(86, 157, 206);
            }
        }

        .sumary {
            font-size: 14px;
            font-weight: lighter;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all
        }


    }

    .content_footer {
        .time {
            font-size: 13px;
        }
    }
}