.avatar {
    overflow: hidden;
    border: 2px solid #fff;
}

.account_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;

    .account_img_content {
        background-color: rgb(220, 220, 222);
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.file_input_label {
    height: 100%;
}

.hidden_file_input {
    display: none;
}

.account_img {
    cursor: pointer;
}