@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

.input-group .form-control {
    z-index: inherit !important;
}

p {
    margin-bottom: 0;
}

//Variable
$Sub-font-color: rgb(167, 173, 180)