.subName {
    font-size: 12px;
    color: rgb(114, 122, 127);
}

.tags {
    .tag {
        color: rgb(51, 145, 222);
        font-size: 14px;
        transition: color ease 200ms;

        &:hover {
            color: rgb(137, 181, 216);
        }
    }

    .tag+.tag {
        margin-left: 3px;
    }
}

.postNumber,
.rateNumer {
    color: rgb(51, 145, 222);
    font-size: 14px;
    transition: color ease 200ms;
}